<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 101 Template</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Yanone+Kaffeesatz" rel="stylesheet">
    <style>
      * { font-family: 'Bree Serif', serif;}
      .lead, .lead * { font-family: 'Yanone Kaffeesatz', serif;}
      .label.small { font-size: .75em;}
    </style>
  </head>
  <body>

    <div class="container">
      <br/>
      <div class="row">
        <h1>Capstone Project API</h1>
        <p class="lead">
        <span class="label small label-success">production</span> &nbsp; API for Coursera's <a href="https://www.coursera.org/learn/photo-tourist-web-app-capstone/" title="Capstone Project">Capstone project.</a></p>
      </div>
    </div>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </body>
</html>
